# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Dependencies (لا يجب رفعها)
# =========================
node_modules

# =========================
# Build output (يتصاوب بوحدو)
# =========================
dist
dist-ssr
build
.vite

# =========================
# Environment files (حساسة)
# =========================
.env
*.local

# =========================
# Ignore large videos فقط
# =========================
public/videos/
*.mp4
*.avi
*.mov
*.wmv
*.flv

# =========================
# Allow project images ✅
# =========================
!src/assets/
!public/images/

# =========================
# Editor / OS files
# =========================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
